<% if current_user %>
<% content_for :head do %>
  <style>
    html { height: 100% }
    body { height: 100%; margin: 0px; padding: 0px; font-family: Monospace; font-weight: bold; color: #9AFE2E }
    #map_canvas { width:80%; height: 80% }
  </style>
<script type="text/javasctipt" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="/javascripts/markerWithLabel.js"></script>
<script type="text/javascript" src="/javascripts/infobox.js"></script>
<script type="text/javascript" src="/javascripts/game.js"></script>
<% end %>
<div id="map_canvas"></div>

<% end %>
